<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
	    <meta charset="UTF-8">
	    <title>Job Postings</title>
	    <th:block th:replace="~{fragments/layout :: head}"></th:block>
	</head>
	
	<body class="text-white">
	
		<nav th:replace="~{fragments/layout :: navbar}"></nav>
		
		<div class="container mt-5">
		
			<h1 class="text-center">Job Announcements</h1>
			
			<hr>
			
			<div class="text-center" th:if="${#lists.isEmpty(jobPostings)}">
				<p>There are no jobs to display.</p>
			</div>
			
			<table class="table table-striped" th:if="${!#lists.isEmpty(jobPostings)}">
			
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Position</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="posting, jobNum : ${jobPostings}">
						<td th:text="${jobNum.count}">1</td>
						<td th:text="${posting.position}">Position</td>
						<td>
							<a class="btn btn-secondary btn-sm"
							   th:href="@{/jobPostings/{id}(id=${posting.id})}">View</a>
						</td>
					</tr>
				</tbody>
			
			</table>
		
		</div>
	
	</body>
		    
</html>